{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags %}
{% block titletag %}重置临时密码{% endblock %}
{% block content %}
{% include "wagtailadmin/shared/header.html" with title="重置临时密码" subtitle=account.display_name icon="password" %}
<div class="nice-padding">
  <form method="post">
    {% csrf_token %}
    <div class="w-space-y-5">
      {% for field in form %}{% formattedfield field %}{% endfor %}
    </div>
    <button class="button button-longrunning" type="submit">确认重置</button>
    <a class="button button-secondary" href="{% url 'account_admin:detail' account.pk %}">取消</a>
  </form>
</div>
{% endblock %}
